<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">

    <joint name="footprint_joint" type="fixed">
        <parent link="base_link"/>
        <child link="base_footprint"/>
        <!-- difference in pos of base link and footprint -->
        <origin xyz="0.0 0.0 -1.0" rpy="0.0 0.0 0.0"/>
    </joint>

    <link name="test_link">
        <visual name="">
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="1.0 1.0 1.0"/>
            </geometry>
            <material name="white"/>
        </visual>
    </link>

    <joint name="test_joint" type="fixed">
        <parent link="base_link"/>
        <child link="test_link"/>
        <origin xyz="-1.0 0.0 0.0"/>
    </joint>

</robot>