BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 80
IndentCaseLabels: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
AlignConsecutiveAssignments: Consecutive