<?xml version="1.0"?>

<!-- This is the core URDF (Universal Robot Description Format) file that defines the robot for Ros2, Rviz2, and Gazebo-Classic
     It uses XACRO to break the single xml file into smaller more editable chunks -->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">

     <xacro:arg name="use_ros2_control" default="true" />

     <!-- Origin of the robot in space - this should be located centered between the two main drive wheels 
         this in basically a xyz origin reference with no shape or size -->
     <link name="base_link"></link>

     <link name="base_footprint"></link>
     <joint name="base_joint" type="fixed">
          <parent link="base_link"/>
          <child link="base_footprint"/>
          <origin xyz="0.0 0.0 -0.15875" rpy="0.0 0.0 0.0"/>
     </joint>

     <!-- Defined rviz2 materials to avoid repeated code -->
     <xacro:include filename="materials.xacro" />
     <!-- Macros that can calculate the rotational inertial matrix easily -->
     <xacro:include filename="inertial_macros.xacro" />

     <!-- Robot Chassis and Wheels -->
     <xacro:include filename="2_robot_core.xacro" />

     <!-- LiDAR Assembly -->
     <xacro:include filename="3_robot_laser.xacro" />

     <xacro:include filename="VLP-16.xacro"/>  <!-- Needs Inertial Tags -->

     <xacro:arg name="gpu" default="false"/>
     <xacro:property name="gpu" value="$(arg gpu)" />

     <xacro:VLP-16 parent="laser_mount_link" name="velodyne" topic="/robot/sensor/velodyne" hz="10" samples="440" gpu="${gpu}">
          <origin xyz=".04445 0 0.0381" rpy="0 0 0" />
     </xacro:VLP-16>

     <!-- Camera Assembly -->
     <xacro:include filename="4_robot_camera.xacro"/>

     <!-- Additional Sensors -->
     <xacro:include filename="5_robot_sensors.xacro"/>

     <!-- Motor Control -->
     <xacro:if value="$(arg use_ros2_control)"  >
          <xacro:include filename="ros2_control.xacro"/>
     </xacro:if>
     <xacro:unless value="$(arg use_ros2_control)"  >
          <xacro:include filename="gazebo_control.xacro"/>
     </xacro:unless>

</robot>